@media all and (min-width: 200px) and (max-width: 350px) {
  html {
    font-size: 42.66px;
  }
}

@media screen and (min-width: 351px) and (max-width: 400px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  html {
    font-size: 55.24px;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  html {
    font-size: 102.39px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1024px) {
  html {
    font-size: 136.52px;
  }
}

.TabBar {
  height: 0.98rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 6;
}

.TabBar ul {
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.TabBar ul .footer-nav__name_active {
  color: #80d13e;
}

.TabBar ul li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TabBar ul li img {
  width: 24px;
  height: 24px;
}

.TabBar ul li .footer-nav__name {
  font-size: .24rem;
}
